body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

nav img {
    height: 25pt;
}

nav {
    background-color: #17a3b8;
}

hr {
    border-top: 2px solid #17a3b8;
}

i {
    background-color: #17a3b8;

}

.btn {
    text-align: center;
}
